/* thin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(Roboto-Thin.ttf);
}

/* light  */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(Roboto-Light.ttf);
}

/* regular */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(Roboto-Regular.ttf);
}

/* medium */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(Roboto-Medium.ttf);
}


/* bold */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(Roboto-Bold.ttf);
}

/* black */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    src: url(Roboto-Black.ttf);
}

